{{#each new_bands as |new_band|}}
  {{log new_band}}

  <div class="get-band-name-handlebars">
       <section data-id="{{new_band.band_name}}">
        <p>  {{#if new_band.band_name}}
        {{new_band.band_name}}
        {{new_band.id}}
     {{else}}
      No band provided.
    {{/if}}
  </p>
    </section>
    </div>

{{/each}}
